<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>lispkorea</title>
    <link rel="stylesheet" href="{{"/assets/css/main.css" | prepend: site.baseurl }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
  </head>


  <body class="layout-documentation page-layout">

    <div class="container">
      <div class="columns is-gapless">
        <div class="column">
          <a href="/">
            <h1 class="title">
              Lisp Korea
            </h1>
            <h2 class="subtitle">
              Korea Lisp Community
            </h2>
          </a>
        </div>
      </div>
    </div>

    <nav class="navbar is-transparent is-centered has-shadow is-spaced">
      <div class="container">
        <div class="navbar-brand">
          <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-start">
            <!-- ref: https://fontawesome.com/icons?d=gallery -->

            <a class="navbar-item" href="{{ site.Paths.posts }}">
              <span class="icon has-text-primary">
                <i class="fas fa-book"></i>
              </span>
              <span>Posts</span>
            </a>

            <a class="navbar-item" href="{{ site.Paths.k_lisper }}">
                <span class="icon is-success">
                    <i class="fas fa-pastafarianism"></i>
                </span>
                <span>K-Lisper</span>
            </a>

            <a class="navbar-item" href="{{ site.Paths.clojure }}">
                <span class="icon has-text-primary">
                    <img src="{{ site.Paths.resources }}/icon/clojure.png" />
                </span>
                <span>Clojure</span>
            </a>

            <a class="navbar-item" href="{{ site.Paths.commonlisp }}">
                <span class="icon has-text-primary">
                    <img src="{{ site.Paths.resources }}/icon/commonlisp.png" />
                </span>
                <span>Common Lisp</span>
            </a>

            <a class="navbar-item" href="{{ site.Paths.racket }}">
                <span class="icon has-text-primary">
                    <img src="{{ site.Paths.resources }}/icon/racket.svg" />
                </span>
                <span>Racket</span>
            </a>

          </div>

          <div class="navbar-end">
            <a class="navbar-item" href="/feed.xml">
              <i class="fas fa-rss-square"></i>
            </a>
            <a class="navbar-item " href="https://github.com/lispkorea/lispkorea.github.io/">
              <i class="fab fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="content">
        {{ content }}
      </div><!-- /.contents -->
    </div>



  </body>
</html>
